scipy
tables
matplotlib
#sqlalchemy
statsmodels
openpyxl
xlrd
xlwt
pandas
gunicorn
celery
redis
psycopg2
Pillow
jinja2
weasyprint
ipython
measurement
python-dotenv
sympy
django
requests
djangorestframework
django-import-export
git+https://github.com/etianen/django-reversion.git
django-guardian
django-report-builder
django-bootstrap3
django-admin-sortable
django_select2
git+git://github.com/django-mptt/django-mptt
git+https://github.com/bernii/querystring-parser
https://github.com/akaariai/fabric/archive/py34.zip
git+https://github.com/feincms/feincms
git+git://github.com/django-ckeditor/django-ckeditor
django-custom-field
